---
import ItemToggleSidebar from "@components/ItemToggleSidebar.vue";
import CloseIcon from "@components/icons/Close.astro";
import RightIcon from "@components/icons/Right.astro";

interface Props {
	href: string;
	text: string;
	icon: any;
	children?: any[];
}

const { href, text, children, icon } = Astro.props;
---
<div>
    {
    !children ? <a href={href} class="flex gap-3 px-2 py-4 hover:bg-gray-100 items-center" >
        <img src={icon} class="w-9">
        <span>{text}</span>
    </a> : 
    <ItemToggleSidebar href={href} text={text} icon={icon} subRoutes={children} client:load >
        <div slot="openedToggle">
            <CloseIcon class="w-4 h-4"/>
        </div>
        <div slot="closedToggle">
            <RightIcon class="w-4 h-4"/>
        </div>
    </ItemToggleSidebar>
    }
</div>

<script>
    const loginLink = document.querySelector('a[href="/login"]');
    loginLink?.addEventListener('click', () => {
        localStorage.removeItem('token');
    });
</script>
