---
import ItemSidebar from "@components/ItemSidebar.astro";
import Logo from "@img/logo_negro.svg";
import { Routes } from "@type/Routes.const";
---
<div class="flex flex-col flex-1 bg-white gap-4 pt-5">
    <div class="flex justify-center">
        <img src={Logo.src} alt="Sipan Hospedaje" class="w-44">
    </div>
    <div class="flex-1">
        {
            Routes.map((route) => (
                <ItemSidebar href={route.href} text={route.text} icon={route.icon} children={route.children} />
            ))
        }
        <!-- <ItemSidebar href="/login" text=Salir icon="salir" children={route.children} /> -->
        
    </div>
</div>